<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516437365566-jqdtd5rjjmfu4a6f11mnudlvnfvo6e2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516437365566-jqdtd5rjjmfu4a6f11mnudlvnfvo6e2k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>516437365566-an459o14bs1s9kmvoiioa1c2cotfa885.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ73hdLjULVthCEn-nSeXtLegFK-M81og</string>
	<key>GCM_SENDER_ID</key>
	<string>516437365566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IBMF.shopSavvyAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shopsavvy-b9b62</string>
	<key>STORAGE_BUCKET</key>
	<string>shopsavvy-b9b62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516437365566:ios:393752a4f2701e197f126f</string>
</dict>
</plist>